
<div class="list-group">
  <% @stock.each do |stock| %>
  <h3 class="list-group-item active">Ticker: <%= stock.ticker %> </h3>
  <ul>
  	<li class="list-group-item list-group-item-action">Price: $<%= Ystock.quote(stock.ticker)[:price] %></li>
	<li class="list-group-item list-group-item-action">Open: $<%= Ystock.quote(stock.ticker)[:open] %></li>
	<li class="list-group-item list-group-item-action">Change: <%= Ystock.quote(stock.ticker)[:change] %></li>
	<li class="list-group-item list-group-item-action">% Change: <%= Ystock.quote(stock.ticker)[:change_percent] %></li>
	<li class="list-group-item list-group-item-action"><a href="http://www.marketwatch.com/investing/stock/<%=stock.ticker%>">More info!</a></li>
  </ul>
<% end %>
<br><br>
<div id="#insert-here"></div>
<center><h4> <a id="new-stock" href="/stock/new"> Click to add a new listing</a></h4></center>
<div id="place-for-new-form"></div>
</div>